/* ==========================================================================
   Mixins
   ========================================================================== */

$mobile : 768px;
$tablet : 1024px;
$small : 600px;
$medium : 1280px;
$desktop : 1420px;

@mixin breakpoint($point)
{
	@if $point == "mobile" {
		@media (max-width: $mobile) {@content;}
	}

	@if $point == "tablet" {
		@media (max-width: $tablet) {@content;}
	}

	@if $point == "desktop" {
		@media (max-width: $desktop) {@content;}
	}

	@if $point == "small" {
		@media (max-width: $small) {@content;}
	}

	@if $point == "medium" {
		@media (max-width: $medium) {@content;} 
	}

	@if $point == "between-tablet-medium" {
		@media (min-width: $tablet) and (max-width: $medium) {@content;}
	}

/*	@if $point == "tablet-up" {
		@media (min-width: $mobile) and (max-width: $tablet) {@content;}
	}*/
	
	@if $point == "tablet-up" {
		@media only screen 
		  and (min-device-width: $mobile) 
		  and (max-device-width: $tablet) 
		  and (orientation: portrait) 
		  and (-webkit-min-device-pixel-ratio: 1) {@content;}
	}
	
	
	@if $point == "tablet-landscape" {	
		@media only screen 
		  and (min-device-width: $mobile) 
		  and (max-device-width: $tablet) 
		  and (orientation: landscape) 
		  and (-webkit-min-device-pixel-ratio: 1) {@content;}
	}	
	
}
 

@mixin stylingFont($font: "'Montserrat', sans-serif", $size: 12px, $line-height: 14px, $color: #fff){
	font-family: $font !important; 
	font-size:$size;
	line-height:$line-height; 
	color:$color;
}

@mixin setBgColor($color: #101f38) {
  background-color: $color;
}


@mixin setBtn($size, $color, $bgColor){
	font-family:'Montserrat', sans-serif !important;
	font-size: $size; 
	line-height: $size; 
	color:$color;
	background-color: $bgColor;
	padding: 10px; 
	cursor: pointer;
	text-decoration:none;
	

	/*border: 0px none rgb(0, 0, 0);
	outline: none;
	box-shadow: none;
	box-sizing: border-box;
	visibility: inherit;
	transition: none;
	font-style: normal;
	text-decoration: none;
	margin: 0px; 
	letter-spacing: 0px;
	min-height: 0px;
	min-width: 0px;
	max-height: none;
	max-width: none;
	opacity: 1;
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	transform-origin: 50% 50% 0px;
	clear:both;
	text-transform:uppercase;*/

}

@mixin setBtnHover($color, $bgColor){
	color:$color;
	background-color:$bgColor;
}






/* TO DEBUG */

@mixin border($size:1px, $color: #f00){
	border:$size solid $color;
}



/* Calculate fluid ratio based on two dimensions (width/height) */
@mixin fluid-ratio($large-size, $small-size) {
  $width-large: nth($large-size, 1);
  $width-small: nth($small-size, 1);
  $height-large: nth($large-size, 2);
  $height-small: nth($small-size, 2);
  $slope: ($height-large - $height-small) / ($width-large - $width-small);
  $height: $height-small - $width-small * $slope;

  padding-top: $slope * 100%;
  height: $height;

  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}


 


@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}






@mixin img-aspect-ratio($width, $height) {
	width:($width / $height) * 100%;
}


@mixin aspect-ratio($width, $height) {
  position: relative;
  
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}


@mixin calc($key, $value) {
	#{$key}: -webkit-calc(#{$value});
	#{$key}: -moz-calc(#{$value});
	#{$key}: calc(#{$value});
}


/* ====================================================================================================================
   Mixin : Linear-gradient
   Usage :
		@include linear-gradient(#31B7D7, #EDAC7D);
  		@include linear-gradient(to right, #E47D7D 0%, #C195D3 50%, #4FB4E8 100%);
  		@include linear-gradient(42deg, #B58234 0%, #D2B545 50%, #D7C04D 50.01%, #FFFFFF 100%);
   ==================================================================================================================== */

@mixin linear-gradient($direction, $color-stops...)
{
	// Direction has been omitted and happens to be a color-stop
	@if is-direction($direction) == false {
		$color-stops: $direction, $color-stops;
		$direction: 180deg;
	}

	background: nth(nth($color-stops, 1), 1);
	background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
	background: linear-gradient($direction, $color-stops);
}

/// Test if '$value' is a valid direction
/// @param {*} $value - Value to test
/// @return {Bool}
@function is-direction($value)
{
	$is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
	$is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));
	@return $is-keyword or $is-angle;
}

/// Convert a direction to legacy syntax
/// @param {Keyword | Angle} $value - Value to convert
/// @require {function} is-direction
/// @require {function} convert-angle
/// @throw Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.;
@function legacy-direction($value)
{
	@if is-direction($value) == false {
    	@error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
	}
	
	$conversion-map: (
	    to top          : bottom,
	    to top right    : bottom left,
	    to right top    : left bottom,
	    to right        : left,
	    to bottom right : top left,
	    to right bottom : left top,
	    to bottom       : top,
	    to bottom left  : top right,
	    to left bottom  : right top,
	    to left         : right,
	    to left top     : right bottom,
	    to top left     : bottom right
	);

	@if map-has-key($conversion-map, $value) {
    	@return map-get($conversion-map, $value);
  	}

  	@return 90deg - $value;
}

@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-bottom:25px;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    margin-bottom: 25px;
  }
}