/* Scss Document */

@import 'mixins';


html{
	@include stylingFont();
	font-family:'Montserrat', sans-serif !important;
}
body{
	@include setBgColor();
	@include stylingFont();
	width: auto;
  	max-width:100%; 
}


#header{
		
		width:100%;
		min-height:70px;
		display:block;
		overflow:hidden;
		background-color:#101f38;
		position:fixed;
		z-index:1;
		
		/*transition: all 0.4s ease;*/
		
		& .inner{	
			width:1500px;
			margin:0px auto;
			overflow:hidden;
			
			@include breakpoint("mobile"){
					width:100%;
			}
			
			/*@include breakpoint("tablet-up"){
					width:100%;
			}*/
			
			@include breakpoint("desktop"){
					width:100%;
			}
			
		
			& .logo{
				float:left;
				margin:20px 0 0 0;
				
					@include breakpoint("mobile"){
						max-width:80%; 
					}
			}	
			
			& #img-logo{
								
					@include breakpoint("mobile"){
						width:95%;
						height:auto;
					}
			}
			
						
			& #menu-icon{
				display:none;
				float:right;
				width:40px;
				height:40px;
				color:#fff; 
				font-size:30px;
				text-decoration:none;
				margin-top:28px;
				
					@include breakpoint("mobile"){
						display:inline-block;
					}
				
				/*	@include breakpoint("tablet-up"){
						display:inline-block;
					}*/
				
			}
		
			& #menu-principal{
				float:right;
				margin:25px 0 0 0;
				font-family:'Montserrat', sans-serif !important;
				position:relative;
				right:50px;
				
					@include breakpoint("mobile"){
						right:0px;
						float:left;
						width:auto;
						display:block;
					}
					
				& ul.menu{
					
				
					@include breakpoint("mobile"){
						display:none;
						
						position:relative;
						z-index:999999 !important;
						top:10px;
						right:0px;
						width:100%;
						height:auto;
						background-color:#101f38;
						padding-top:25px;
				
				}
					
				/*	@include breakpoint("tablet-up"){
						
						display:none;
						
						position:absolute;
						z-index:999999 !important;
						top:65px;
						right:0px;
						width:100%;
						height:auto;
						border:1px solid #575757;
						background-color:#101f38;
				
					}*/
	
				}
				
				& ul li{
					float:left;
					margin:0 30px;
					
					@include breakpoint("medium"){
						margin:0 30px;
					}

					
					@include breakpoint("between-tablet-medium"){
						margin:0 9px;
					}
					
					@include breakpoint("tablet-landscape"){
						margin:0 7px;
					}

					/*@include breakpoint('tablet-up'){ 
						float:none;
						display:block;
						margin:20px 0;
						padding-left:10px;
					}*/

					@include breakpoint('mobile'){ 
						float:none;
						display:block;
						margin:20px 0;
						padding-left:10px;
					}

 				}
				
				& ul li.btn-space{
					margin:0 10px;
					
					/*@include breakpoint('tablet-up'){ 
						margin:35px 0;
					}*/
					

					@include breakpoint('mobile'){ 
						margin:0 0 35px 0;
					}

				}
				
				& ul li a{
					color:#ffffff;
					font-size:18px;
					text-decoration:none;
					font-weight:normal;
				}
				
				
			} /* menu-principal */

		
		} /* inner-header */

	
} /* header */


#img{
	
	 @include fluid-ratio(1580px 878px, 320px 185px);
 	 background-image: url(../images/station-nature-ete_1920x900.jpg);
  
  
  	& .inner{
		
		& .img-title{
			
			@include centerer();
			
			
					@include breakpoint("between-tablet-medium"){
						top:45%;
					}

					@include breakpoint('tablet-up'){ 
						top:25% !important;
					}

					@include breakpoint('mobile'){ 
						top:160px;
					}

			
				& h1{
					@include stylingFont(Montserrat, 78px, 82px);	
					text-shadow: 2px 2px 10px #000000;	
					text-align:center;
					text-transform:uppercase;
					padding:10px 0 0 0;
					
					
					@include breakpoint("between-tablet-medium"){
						@include stylingFont(Montserrat, 62px, 64px);
					}

					
					@include breakpoint('tablet-up'){ 
						@include stylingFont(Montserrat, 34px !important, 36px !important);		
					}
					
					
					@include breakpoint('mobile'){ 
						@include stylingFont(Montserrat, 18px, 20px);		
					}
					
					
				}
				
				& h2{
					
					@include stylingFont(Montserrat, 30px, 32px);		
					text-shadow: 2px 2px 10px #000000;	
					text-align:center;
					text-transform:uppercase;
					margin:25px 0 0 0;
					
					@include breakpoint('tablet-up'){ 
						@include stylingFont(Montserrat, 26px !important, 28px !important);		
					}
					
					@include breakpoint('mobile'){ 
						@include stylingFont(Montserrat, 16px, 18px);		
					}
					
					

				}
		}
	}
	
}


.btnVert{
	@include setBtn(14px, #ffffff, #569c10); 
}


.btnBlanc{
	/*@include setBtn(14px, #101f38, #ffffff);*/
	font-family:'Montserrat', sans-serif;
	font-size: 14px; 
	color:#101f38 !important;
	background-color: #ffffff;
	padding: 10px; 
	cursor: pointer;
	text-decoration:none;

}

.btnBlanc:hover{
	color:#fff !important;
	background-color: #101f38;
}




#projet.row1,
#project.row1{
	width:100%; 
	/*min-height:738px;*/
	background-color:#fff;
	
		@include breakpoint('tablet-up'){ 
			min-height:100%;
		}
	
	& .inner{
		
		overflow:hidden;
			
			& .col1{
				
				width:50%;
				float:left;
				
					@include breakpoint('mobile'){ 
						width:100%;
					}
				
				& .img-famille{
						 @include fluid-ratio(752px 738px, 320px 309px);
 						 background-image: url(../images/img-famille.jpg);


				} 

				
			}
			
			& .col2{
				
				width:50%;
				float:left; 
				
					@include breakpoint('mobile'){ 
						width:100%;
						margin:0 0 30px 0;
					}

				
				& .content{
					width:70%;
					color:#000;
					text-align:center;
					margin:0 auto;
					
						@include breakpoint('tablet-up'){ 
							width:90%;
						}
					
						@include breakpoint('tablet-landscape'){ 
							width:90%;
						}
						
						@include breakpoint('mobile'){ 
							width:90%;
						}
					
					& h3{
						@include stylingFont(Montserrat, 36px, 38px, #8f5927);
						font-weight:bold;
						text-transform:uppercase;
						margin:170px 0 25px 0;
						
						
							@include breakpoint("between-tablet-medium"){
								margin:60px 0 25px 0;
							}
		
							
							@include breakpoint('tablet-up'){ 
								@include stylingFont(Montserrat, 20px, 22px, #8f5927);
								margin:10px 0 10px 0;
							}
							
							@include breakpoint('tablet-landscape'){ 
								margin:40px 0 10px 0;
							}
					
							
							@include breakpoint('mobile'){ 
								@include stylingFont(Montserrat, 20px, 22px, #8f5927);
								margin:10px 0 10px 0;
							}
							
							
					}
					
					& h4{
						@include stylingFont(Montserrat, 18px, 20px, #101f38);	
						font-weight:bold;
						margin:0 0 25px 0;
						
							@include breakpoint('tablet-up'){ 
								@include stylingFont(Montserrat, 16px,18px, #101f38);	
								margin:10px 0 10px 0;
							}

					}
					
					& p{
						@include stylingFont(Montserrat, 14px, 16px, #101f38);
						margin:20px 0;
						
							@include breakpoint('tablet-up'){ 
								@include stylingFont(Montserrat, 13px,15px, #101f38);
								margin:10px 0 10px 0;
							}
						
					}
					
					& .btn-vert-2{
						
						@include setBtn(24px, #ffffff, #569c10); 
						text-transform:uppercase;
						clear:both;
						position:relative;
						top:25px;
						
							@include breakpoint('tablet-up'){ 
								@include setBtn(18px, #ffffff, #569c10); 
								top:15px;
							}


							@include breakpoint('mobile'){ 
								@include setBtn(16px, #ffffff, #569c10); 
								top:10px;
							}
						
					}
					
					& .btn-vert-2:hover{
						color:#569c10;
						background-color:#ffffff;
					}
				}
				
			}

	}
	
}



/* 

ROW2

*/

#row2{
	/*@include setBgColor(#000000);*/
}





/* 

ROW3

*/

#site.row3{
	width:100%;
	/*min-height:738px;*/
	@include setBgColor(#101f38);
	
	
	/*	@include breakpoint("between-tablet-medium"){
			min-height:100%;
		}
							
		@include breakpoint('tablet-up'){ 
			min-height:100%;
		}

		@include breakpoint('mobile'){ 
			min-height:100%;
		}
*/
	
	& .inner{
		
		overflow:hidden;
			
			& .col1{
				
				width:50%;
				float:left; 
				
						@include breakpoint('mobile'){ 
							width:100%;
						}
				
					& .content{
						
						
						width:60%;
						color:#000;
						text-align:center;
						margin:0 auto;
						
								@include breakpoint("between-tablet-medium"){
									width:80%;
								}
						
								@include breakpoint('tablet-up'){ 
									width:90%;
								}
								
								@include breakpoint('mobile'){ 
									width:90%;
									padding-bottom:35px;
								}
						
						& h3{
							@include stylingFont(Montserrat, 36px, 38px, #8f5927);
							font-weight:bold;
							text-transform:uppercase;
							margin:170px 0 25px 0;
							
							
								@include breakpoint("between-tablet-medium"){
									margin:60px 0 25px 0;
								}
							
								@include breakpoint('tablet-up'){ 
									@include stylingFont(Montserrat, 20px, 22px, #8f5927);
									margin:10px 0 10px 0;
								}
								
								@include breakpoint('mobile'){ 
									@include stylingFont(Montserrat, 20px, 22px, #8f5927);
									margin:10px 0 10px 0;
								}
								
							
						}
						
						& h4{
							@include stylingFont(Montserrat, 18px, 20px, #569c10);	
							font-weight:bold;
							margin:0 0 25px 0;
							
								@include breakpoint('tablet-up'){ 
									@include stylingFont(Montserrat, 16px, 18px, #569c10);
									margin:10px 0 10px 0;
								}
						}
						
						& p{
							@include stylingFont(Montserrat, 14px, 16px, #ffffff);
							margin:20px 0;
							
								@include breakpoint('tablet-up'){ 
									@include stylingFont(Montserrat, 13px, 15px, #ffffff);
									margin:10px 0 10px 0;
								}
							
						}
						
						& .btn-vert-2{
							
							@include setBtn(22px, #ffffff, #569c10); 
							text-transform:uppercase;
							clear:both;
							position:relative;
							top:25px;
							
							
								@include breakpoint("between-tablet-medium"){
									@include setBtn(22px, #ffffff, #569c10); 
								}
							
							
								@include breakpoint('tablet-up'){ 
									@include setBtn(18px, #ffffff, #569c10); 
									top:15px;
								}
								
								@include breakpoint('mobile'){ 
									@include setBtn(16px, #ffffff, #569c10); 
									top:5px;
								}
								
							
						}
						
						& .btn-vert-2:hover{
							color:#569c10;
							background-color:#ffffff;
						}
						
						
					}
				
			}
			
			& .col2{
				
				
				width:50%;
				float:left;
					
					@include breakpoint('mobile'){ 
						width:100%;
					}

				
				& .img-femme{
						 @include fluid-ratio(753px 733px, 320px 309px);
 						 background-image: url(../images/img-raquette.jpg);
				} 
				
				
			}

	}
	
}





/* 

ROW4

*/

#row4{
	
	 @include fluid-ratio(1505px 972px, 320px 207px);
 	 background-image: url(../images/img-joueur-de-golf.jpg);
}


/* 

ROW5

*/

#plans.row5{
		
	@include setBgColor(#fff);
		
	& .inner{
		
		width:800px;
		margin:0 auto;
		text-align:center;
		overflow:hidden;
		
			@include breakpoint('tablet-up'){ 
				width:90%;
			}
			
			@include breakpoint('mobile'){ 
				width:90%;
			}

		
		& h3{
			@include stylingFont(Montserrat, 36px, 38px, #8f5927);
			font-weight:bold;
			text-transform:uppercase;
			margin:100px 0 25px 0;
			
				@include breakpoint('tablet-up'){ 
					@include stylingFont(Montserrat, 20px, 22px, #8f5927);
					margin:25px 0 25px 0;
				}
			
				@include breakpoint('mobile'){ 
					@include stylingFont(Montserrat, 20px, 22px, #8f5927);
					margin:25px 0 25px 0;
				}

		}
		
		& h4 a{
			@include stylingFont(Montserrat, 18px, 20px, #569c10);	
			font-weight:bold;
			margin:0 0 25px 0;
			
		}
		
		& p{
			@include stylingFont(Montserrat, 14px, 16px, #101f38);
			margin:20px 0;
		}
		
		& a.btn-vert-2 {
			
			@include setBtn(24px, #ffffff, #569c10); 
			text-transform:uppercase;
			clear:both;
			position:relative;
			top:25px;
			display:block;
			margin:0 auto;
			width:355px; 
			text-align:center;
			
				@include breakpoint('mobile'){ 
					@include setBtn(18px, #ffffff, #569c10); 
					width:90%;
				}
		
			
		}
		
		& .btn-vert-2:hover{
			color:#569c10;
			background-color:#ffffff;
		}

	}
}




/* 

ROW7

*/


#contact.row7{
	width:100%; 
	/*min-height:738px;
	@include setBgColor(#101f38);
	
		@include breakpoint("between-tablet-medium"){
			min-height:100%;
		}
	
		@include breakpoint('tablet-up'){
			min-height:100%;
		}


		@include breakpoint('mobile'){ 
			min-height:100%;
		}
	*/
	
	& .inner{
		
		overflow:hidden;
			
			& .col1{
				
				width:50%;
				float:left;
					/*outline:1px solid #00f;*/
					
					@include breakpoint('mobile'){ 
						width:100%;
					}

			
				& .img-ski{
						 @include fluid-ratio(752px 742px, 320px 309px);
 						 background-image: url(../images/img-ski.jpg);
				} 

				
			}
			
			& .col2{
				
				width:50%;
				float:left; 
				position:relative;
			
					@include breakpoint('mobile'){ 
						width:100%;
					}

				
				& .content{
					
					width:60%;
					color:#000;
					text-align:center;
					margin:0 auto;
					padding-bottom:34px;
					position:relative;
				
					/*@include border();*/
					
						@include breakpoint('between-tablet-medium'){ 
							width:90%;
						}
						
						@include breakpoint('tablet-up'){ 
							width:90%;
						}
					
					& h3{
						@include stylingFont(Montserrat, 36px, 38px, #8f5927);
						font-weight:bold;
						text-transform:uppercase;
						margin:125px 0 25px 0;
						
							@include breakpoint("between-tablet-medium"){
								@include stylingFont(Montserrat, 28px, 30px, #8f5927);
								margin:20px 0 10px 0;
							}
							
						
							@include breakpoint('tablet-up'){ 
								@include stylingFont(Montserrat, 20px, 22px, #8f5927);
								margin:50px 0 25px 0;
							}
						
							@include breakpoint('mobile'){ 
								@include stylingFont(Montserrat, 20px, 22px, #8f5927);
								margin:50px 0 25px 0;
							}
					}
					
					& h4{
						@include stylingFont(Montserrat, 18px, 20px, #569c10);	
						font-weight:bold;
						margin:0 0 25px 0;
					}
					
					& p{
						@include stylingFont(Montserrat, 14px, 16px, #ffffff);
						margin:20px 0;
					}
					
				/*	& .btn-vert-2{
						
						@include setBtn(24px, #ffffff, #569c10); 
						text-transform:uppercase;
						clear:both;
						position:relative;
						top:25px;
						
					}*/
					
					& .phone{
						@include stylingFont(Montserrat, 14px, 20px, #ffffff);
						text-decoration:none;
					}
					
					& .facebook{
						background:url(../images/facebook.png) no-repeat center top;
						width:34px;
						height:34px;
						display:block; 
						margin:0 auto;
					}	
				
				}
				
				& #map{
						/*@include fluid-ratio(753px 297px, 320px 126px);
 						background-image: url(../images/map-station-nature.jpg);
						width:100%;
						position:absolute;
						bottom:0px;
						*/
							@include breakpoint('tablet-up'){
								display:none;
							}
				}
				
			}
			

	}
	
}



#information.row1{
	
	& .inner{
		
		width:800px;
		margin:0 auto;
		text-align:center;
		overflow:hidden;
		padding:50px 0;
		
			@include stylingFont(Montserrat, 14px, 20px, #ffffff);
		
			@include breakpoint('tablet-up'){ 
				width:90%;
			}
			
			@include breakpoint('mobile'){ 
				width:90%;
			}
			
			
			& #msg{
				
				font-size:18px;
				line-height:20px;
				
				@include breakpoint('mobile'){ 
					
				}
				
			}
			
			& .precisez{
				display:none;
			}
			
			& #form_info select#entendu_parler, #form_info_en select#entendu_parler{
				
				width:55%;
				height:30px;
				
					@include breakpoint('mobile'){ 
						width:100%;
						height:30px;
					}
				
			}
			
			& #form_info input, #form_info_en input{
				
				width:55%;
				height:30px;
				margin:10px 0;
				font-family:'Montserrat', sans-serif !important;
				font-size:12px;
				line-height:14px;
				font-weight:normal;

				
					@include breakpoint('mobile'){ 
						width:100%;
						height:30px;
						margin:10px 0;
					}
				
			}
			
			& #form_info input#infolettre, #form_info_en input#infolettre{
				
				width:auto;
				position:relative;
				top:8px;
				right:10px;
				
			}
			
			& #form_info textarea, #form_info_en textarea{
				
				width:55%;
				height:125px;
				margin:10px 0;
				font-family:'Montserrat', sans-serif !important;
				font-size:12px;
				line-height:14px;
				font-weight:normal;

				
					@include breakpoint('mobile'){ 
						width:100%;
						height:125px;
						margin:10px 0;
					}
				
			}
			
			& #form_info .btn, #form_info_en .btn{
				width:125px;
				height:50px;
				border-radius:none;
				background-color:#61a60e;
				font-size:16px;
				line-height:16px;
				text-transform:uppercase;
				font-weight:bold;
				cursor:pointer;
				color:#fff;
			}
			
			
			& .erreur-msg{
				color:#f00;
				font-weight:bold;
				
			}
			
			

	}
	
}










footer{
	background-color:#fff;
	overflow:hidden;
	position:relative;
	
		
		& ul {
			float:right;
			margin:25px 200px 0 0;
			
				@include breakpoint('mobile'){
					float:none;
					margin:15px 0 0 0;
				}
		}
	
		& ul li{
			float:left;
			margin:0 15px;
		}
	
		.rbq{
			@include stylingFont(Montserrat, 9px, 10px, #000000);
			clear:both;
			float:left;	
			display:block;
			margin:0 0 20px 20px;
			
				@include breakpoint('mobile'){
					margin:10px 0 120px 20px;
				}

		}
		
		.top{
			background:url(../images/top.png) no-repeat left top;
			width:67px;
			height:90px;
			position:fixed;
			bottom:10px;
			right:50px;
			z-index:999;
		}
	
}			
				
				
				 .map-mobile{
						display:none;
						
						@include breakpoint('tablet-up'){
							display:block;
							/*@include fluid-ratio(753px 297px, 320px 126px);*/
							background-image: url(../images/map-station-nature.jpg);
							background-size:cover;
							width:100%; 
							height:297px;
							
						}
				}


